<app-header name="Лабораторна робота №1 Завдання 1"></app-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <ion-item>
      <ion-label position="floating">Число 1</ion-label>
      <ion-input [(ngModel)]="number1" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Число 2</ion-label>
      <ion-input [(ngModel)]="number2" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Число 3</ion-label>
      <ion-input [(ngModel)]="number3" type="number"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="calculate()">Обчислити суму кубів</ion-button>

    <ion-card *ngIf="result !== null">
      <ion-card-header>
        <ion-card-title>Результат</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Сума кубів чисел: {{ result }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
