<div [formGroup]="formGroup">

  <ion-item>
    <ion-label position="stacked">Тип</ion-label>
    <ion-input formControlName="type" placeholder="Тип товару"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Назва</ion-label>
    <ion-input formControlName="name" placeholder="Назва іграшки"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Ціна</ion-label>
    <ion-input formControlName="price" type="number" placeholder="Ціна"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Опис</ion-label>
    <ion-textarea formControlName="description" placeholder="Опис іграшки"></ion-textarea>
  </ion-item>
  
</div>