
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }
  
  ion-item {
    width: 100%;
  }
  
  .content-wrapper {
    width: 50vw;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-button {
    margin-top: 20px;
  }
  