<div class="filter-container">
  <ion-list class="horizontal-checkboxes">
    <ion-item *ngFor="let category of categories">
      <ion-checkbox
        [(ngModel)]="category.selected"
        (ionChange)="onCategoryChange()"
        [checked]="category.selected"
      ></ion-checkbox>
      <ion-label>{{ category.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="price-filter">
    <ion-item>
      <ion-label>Ціна: {{ priceRange.lower }} - {{ priceRange.upper }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-range
        [min]="minPrice"
        [max]="maxPrice"
        [dualKnobs]="true"
        [(ngModel)]="priceRange"
        (ionChange)="onPriceChange($event)"
      >
        <ion-label slot="start">{{ minPrice }}</ion-label>
        <ion-label slot="end">{{ maxPrice }}</ion-label>
      </ion-range>
    </ion-item>
  </div>
</div>

<ion-list>
  <ion-item *ngFor="let product of filteredProducts">
    <ion-label>
      <h2>{{ product.getName() }}</h2>
      <p>{{ product.getInfo() }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<div *ngIf="filteredProducts.length === 0" class="no-results">
  <p>Немає товарів за такими фільтрами</p>
</div>