/* student-form.component.scss */
.form-container {
    padding: 16px;
    
    .form-title {
      font-size: 1.2rem;
      font-weight: bold;
      white-space: normal;
      margin: 16px 0;
    }
    
    ion-item-divider {
      margin-top: 16px;
      --background: #f5f5f5;
      --color: #333;
    }
    
    ion-button {
      margin: 24px 0;
    }
    
    ion-input {
      --padding-start: 0;
      --padding-end: 0;
    }
  }